.side-bar
  .side-header
    %p.side-header__user-name
      = current_user.nickname
    %ul.side-header__menus
      %li.menu
        .edit
          = link_to new_group_path do
            %i.fa.fa-edit
      %li.menu
        .cog
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
  .groups
    - count = 1
    - while count < 4
      .group
        .group__group-name テスト#{count}
        .group__latest-message おはよう#{count}
        - count += 1